<div class="container-fluid">
  <img src="assets/images/logo.png" class="img-fluid rounded-start" 
       style="width: 100%; height: 250px; object-fit: cover;">
</div>
<br>
<form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Pesquisar </button>
</form> 
<br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/images/logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-img-top">  </h5>
    <p class="card-text"> sobre  </p>
    <a routerLink="/pre-agendamento" routerLinkActive="active" class="btn btn-primary"> Fazer meu agendamento</a>
  </div>
</div>