   <header>
        <div class="container">
            <div class="logo" routerLink="/" >AgendaAI</div>
        </div>
    </header>
    <br>
                    <div class="center">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="userRegisterForm" (ngSubmit)="registerUser()">
                                    <div class="row">   
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="name" class="form-control" formControlName="name" />
                                                <label class="form-label" for="name">Nome</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="surname" class="form-control" formControlName="surname"/>
                                                <label class="form-label" for="surname">Sobrenome</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" formControlName="email"/>
                                        <label class="form-label" for="email">E-mail</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="password" id="password" class="form-control" formControlName="password"/>
                                        <label class="form-label" for="password">Senha</label>
                                    </div>
                                  
                                    <div class="form-outline">
                                        <input type="password" id="confirmPass" class="form-control" formControlName="confirmPass"/>
                                        <label class="form-label" for="confirmPass" routerLink="">Confirmar Senha</label>
                                    </div>
                                     
                                    <a routerLink="/login-user" style="color: rgb(110, 153, 139);"><strong>Fazer login</strong></a>
                                    <button type="submit" class="btn btn-primary" [disabled]="!userRegisterForm.valid"><strong>Cadastrar</strong></button>
                                </form>
                            </div>
                        </div>
                    </div>
               <br>
  <app-footer></app-footer>                  