<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgendaAI</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- Section: Design Block -->
    <section class="jumbotron-section">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <!-- Texto de Boas-Vindas -->
                    <div class="col-lg-6">
                        <h2 class="title">Seja bem-vindo ao AgendaAI!</h2>
                        <h3 class="subtitle">Somos muito mais do que uma simples agenda online!</h3>          
                        <p class="description">
                            O AgendaAI foi criado para facilitar sua rotina. Aqui você encontra as melhores condições 
                            para organizar seus agendamentos, otimizar seu tempo e proporcionar uma experiência incrível.
                            Seja você um profissional da beleza ou alguém em busca do melhor atendimento, 
                            o AgendaAI está pronto para te ajudar.
                        </p>
                        <p class="motto"> Agende. Organize. Cresça. </p>
                    </div>

                    <!-- Formulário de Cadastro -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                  

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Nome do estabelecimento</label>
                                    </div> 

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Endereço</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">CEP</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="password" id="password" class="form-control" />
                                        <label class="form-label" for="password">Telefone</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Email</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Horario de Funcionamento</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Tipo de atendimento</label>
                                    </div>

                                        <div class="col-md-4" style=" width: 100%;">
                                        <label for="inputState" class="form-label" style="width: 100%;">Funciona aos feriados?</label>
                                        <select id="inputState" class="form-select">
                                          <option selected>Sim</option>
                                          <option>Não</option>
                                        </select>
                                      </div>
                                        <br>
                                      <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Senha</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" />
                                        <label class="form-label" for="email">Confirmar Senha</label>
                                    </div>
                                 

                                    <a routerLink="/login-establishment" style="color: rgb(110, 153, 139);"><strong>Logar minha empresa</strong></a>

                                    <button type="submit" class="btn-primary"> <strong>Cadastrar estabelecimento</strong> </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>