<div class="container-fluid" style="width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="  background-color:  rgb(100, 143, 128);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AgendaAi</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <button class="btn custom-btn" type="submit" routerLink="/login-user"
          *ngIf="!logged"><strong>Login</strong></button>
         <div *ngIf="logged">
          <div class="dropdown" [class.open]="dropdownOpen">
            <button (click)="toggleDropdown()" id="btn_profile">
              <h1>{{primary_letter}}</h1>
            </button>
            <div class="dropdown-content" *ngIf="dropdownOpen">
              <button routerLink="/perfil-user" (click)="perfil()">Perfil</button>
              <button (click)="logout()">Sair</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>