/* Definição da fonte padrão */
body {
    font-family: "Poppins", sans-serif;
    
}

/* Botão personalizado */
.custom-btn {
    background-color: aquamarine; 
    color: black; 
    border: none; 
  }
  .custom-btn:hover {
    background-color: rgb(110, 153, 139); 
  }
  
  .custom-btn {
    background-color: aquamarine; 
    color: black; 
    border: none;
    padding: 10px 20px; 
}

.custom-btn:hover {
    background-color: rgb(110, 153, 139); 
}

/* Navbar estilizada */
.navbar {
    background: rgb(44, 150, 132);
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 10px 10px; /* Cantos arredondados apenas na parte inferior */
}



