<nav class="navbar navbar-expand-lg navbar-light  shadow-sm">
  <div class="container-fluid" style="background-color: aquamarine; border-width: 50%;">
    <a class="navbar-brand" href="#">AgendaAi</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%;">
        <div class="d-flex justify-content-end" >
          <a class="btn hover-btn" style="color: rgb(38, 190, 190);" routerLink="/login-user" routerLinkActive="active" role="button">Login</a>
        </div>
      </ul>
    </div> 
  </div>
</nav>


 