   <header>
        <div class="container">
            <div class="logo" routerLink="/" >AgendaAI</div>
        </div>
    </header>
    <br>
                    <div class="center">
                        <div class="card">
                           <div class="subtitle">Vamos enviarum codigo de recuperação para seu E-mail</div>
                            <div class="card-body">
                                    <div class="row">
                                    <div class="form-outline">
                                       <label class="form-label" for="email">E-mail</label>
                                        <input type="email" id="email" class="form-control" />
                                       
                                    </div>
                                 <button type="submit" class="btn-primary" ><strong>Enviar</strong></button>

                                    </div>
                         
                            </div>
                        </div>
                    </div>
                  <br>

   <app-footer></app-footer>
