<app-nav-bar></app-nav-bar>
<br>

<div class="d-flex align-items-center" style="margin-left: 10px;">
  <!-- Imagem -->
  <div class="container-fluide" style="width: 50%; height: 50%;">
    <figure class="figure">
      <img src="../../../assets/images/massagem.jpg" class="figure-img img-fluid rounded" alt="...">
    </figure>
  </div>

<div class="d-flex gap-3 ms-3">
  <!-- Primeiro Card -->
  <div class="card" style="width: 18rem; margin-top: -10px;">
    <div class="card-body">
      <h5 class="card-title"> Informações do estabelecimento</h5>
      <p class="card-text">Nome da empresa</p>
      <p> Endereço</p>
      <p> Telefone</p>
      <p> Horário de funcionamento</p>
      <p> Seg das 8h às 18h</p>
      <p> Ter das 8h às 18h</p>
      <p> Qua das 8h às 18h</p>
      <p> Qui das 8h às 18h</p>
      <p> Sex das 8h às 18h</p>
      <p> Sáb das 8h às 18h</p>
      <p> Dom FECHADO</p>
      <br> 
      <p> Abre aos feriados? Não</p>
    </div>
  </div>

  <!-- Segundo Card -->
  <div class="card" style="width: 18rem; margin-top: -10px;">
    <div class="card-body">
      <h5 class="card-title">Serviços disponíveis</h5>
      <br>
      <p class="card-text">Corte de cabelo</p>
      <p>Tintura</p>
      <p>Corte</p>
      <p>Escovação</p>
      <p>Descoloração</p>
      <p>Hidratação</p>
      <br> 
      <br>
      <br>
      <a routerLink="/agendamento" routerLinkActive="active" class="btn custom-btn">Fazer meu agendamento</a>
    </div>
  </div>
</div>





  

