<div class="container-fluid" style="width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: aquamarine;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AgendaAi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    </nav>
    </div>
    <br>
  
                    <!-- Formulário de Cadastro -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="entrepreneurLoginForm" (ngSubmit)="loginEstablishment()">
                                    <div class="row">
                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" formControlName="email"/>
                                        <label class="form-label" for="email">E-mail</label>
                                    </div>
                                    <div class="form-outline">
                                        <input type="password" id="password" class="form-control" formControlName="password"/>
                                        <label class="form-label" for="password">Senha</label>
                                    </div>
                                    <a routerLink="/register" style="color: rgb(110, 153, 139);"><strong>Cadastrar-se</strong></a>
                                    <a routerLink="/register-establishment" style="color: rgb(110, 153, 139);"><strong>Cadastrar minha empresa</strong></a>
                                    <button type="submit" class="btn-primary" [disabled]="!entrepreneurLoginForm.valid"><strong>Entrar</strong></button>
                                    <div class="social-login">
                                        <p>Fazer login com:</p>
                                        <button class="btn-social"><i class="fab fa-facebook-f"></i></button>
                                        <button class="btn-social"><i class="fab fa-google"></i></button>
                                        <button class="btn-social"><i class="fab fa-twitter"></i></button>
                                    </div>
                                    </div>
                                
                                </form>
                            </div>
                        </div>
                    </div>
         <br>
<app-footer></app-footer>
