    <header>
        <nav>
            <link rel="stylesheet" href="style.css">
            <div class="logo">
                <i class="fas fa-calendar-check" href="#" ></i>
                AgendaAI
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
  
                    <!-- Formulário de Cadastro -->
                    <div class="center">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="entrepreneurLoginForm" (ngSubmit)="loginEstablishment()">
                                    <div class="row">
                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" formControlName="email"/>
                                        <label class="form-label" for="email">E-mail</label>
                                    </div>
                                    <div class="form-outline">
                                        <input type="password" id="password" class="form-control" formControlName="password"/>
                                        <label class="form-label" for="password">Senha</label>
                                    </div>
                                    <a routerLink="/register" style="color: rgb(110, 153, 139);"><strong>Cadastrar-se</strong></a>
                                    <button type="submit" class="btn-primary" [disabled]="!entrepreneurLoginForm.valid"><strong>Entrar</strong></button>
</div>
                                
                                </form>
                            </div>
                        </div>
                    </div>
         <br>
         <br>
<app-footer></app-footer>
