<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgendaAI</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- Section: Design Block -->
    <section class="jumbotron-section">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <!-- Texto de Boas-Vindas -->
                    <div class="col-lg-6">
                        <h2 class="title">Seja bem-vindo ao AgendaAI!</h2>
                        <h3 class="subtitle">Somos muito mais do que uma simples agenda online!</h3>          
                        <p class="description">
                            O AgendaAI foi criado para facilitar sua rotina. Aqui você encontra as melhores condições 
                            para organizar seus agendamentos, otimizar seu tempo e proporcionar uma experiência incrível.
                            Seja você um profissional da beleza ou alguém em busca do melhor atendimento, 
                            o AgendaAI está pronto para te ajudar.
                        </p>
                        <p class="motto"> Agende. Organize. Cresça. </p>
                    </div>

                    <!-- Formulário de Cadastro -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="entrepreneurLoginForm" (ngSubmit)="loginEstablishment()">
                                    <div class="row">
                                    <div class="form-outline">
                                        <input type="email" id="email" class="form-control" formControlName="email"/>
                                        <label class="form-label" for="email">E-mail</label>
                                    </div>
                                    <div class="form-outline">
                                        <input type="password" id="password" class="form-control" formControlName="password"/>
                                        <label class="form-label" for="password">Senha</label>
                                    </div>
                                    <a routerLink="/register" style="color: rgb(110, 153, 139);"><strong>Cadastrar-se</strong></a>
                                    <a routerLink="/register-establishment" style="color: rgb(110, 153, 139);"><strong>Cadastrar minha empresa</strong></a>
                                    <button type="submit" class="btn-primary" [disabled]="!entrepreneurLoginForm.valid"><strong>Entrar</strong></button>
                                    <div class="social-login">
                                        <p>Fazer login com:</p>
                                        <button class="btn-social"><i class="fab fa-facebook-f"></i></button>
                                        <button class="btn-social"><i class="fab fa-google"></i></button>
                                        <button class="btn-social"><i class="fab fa-twitter"></i></button>
                                    </div>
                                    </div>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
