<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">AgendaAI</h5>
    <p class="card-text">No AgendaAI, você organiza seus agendamentos de forma simples e prática.
      A plataforma envia lembretes automáticos para clientes e permite comunicação rápida em casos de cancelamento.
      Após escolher seu plano e cadastrar o estabelecimento, você configura horários, dias de atendimento e serviços
      disponíveis.
      Em até 7 dias, seu cadastro é aprovado e seu negócio já fica no ar.</p>
    <button class="cta-button">
      <a class="cta-button" style="text-decoration: none; color: black;" routerLink="/register-establishment">
        Fazer meu cadastro
      </a>
    </button>
  </div>
</div>